@font-face{
    font-family: Renogare;
    src: url('/Renogare-Regular.otf') format('opentype');
}

body {
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  font-family: 'Renogare', sans-serif;
}

.lifecounter {
  height: 45vh;
  background-color: white;
  position: absolute;
  top: 55vh;
  left: 0;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, 20vw);
  grid-template-rows: 30vh 15vh;
}

.lifecounter.flip {
    rotate: 180deg;
    left: 0;
    top: 0;
}

.lifedisplay {
    margin:0;
    text-align: center;
    align-self: center;
    height: 100%;
    touch-action: pan-y;
    font-size: 1.5em;
}

.player-lifedisplay {
    grid-column-start: 2;
    grid-column-end: 5;
    line-height: 30vh;
    font-size: 4em;
}

.controlbar {
    overflow-x:scroll;
    height: 10vh;
    background-color: white;
    position:absolute;
    top: 45vh;
    left: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(7, 20vw);
    grid-template-rows: auto;
}

button {
    font-size: 5em;
    background:none;
    border:none;
}
button.reset {
    font-size: 3em;
}

.barrier {
    line-height: 23vh;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url('/barrier_image.png');
}